_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache/
.hugo_build.lock
node_modules/
vendor/
.DS_Store
assets/fonts/
assets/webfonts/
assets/js/main.min.js
assets/css/academicons.css
assets/css/academicons.min.css
